body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: lightsalmon;
    color: white;
}

.clock{
    width: 400px;
    height: 150px;
    background-color: rgba(155, 53, 53, 0.705);
    border: 20px solid rgba(37, 13, 13, 0.705);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 30px;
    font-size: 60px;
    z-index: 10;
    transform: rotate(15deg) translate(10px, 50px);
}

.clock::before{
    height: 60px;
    width: 60px;
    background-color: black;
    content:'';
    z-index: 1;
    border-radius: 20px 20px 0px 0px;
}

.timezone{
    font-size: 20px;
}